<form class="form" action="/pantheon/form{{name}}" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="prayer" class="form-item">
    Offer prayers of tribute Pleb!
    <input type="text" name="name" value="{{name}}">
  </label>
</form>