


<form class="form" action="/form{{name}}" method="POST">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="prayer" class="form-item">
    Offer prayers of tribute Plebian!
    <input type="text" name="name" value="{{prays}}">
  </label>
  <input type="submit" name="" value="Submit">
</form>