<div class="gods-wrapper">
    {{#each gods}}
    <div class="gods-plan">
        <a href="/pantheon/{{name}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
        <p>{{name}}</p>
    </div>
    {{/each}}
</div>