body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-image: url(/public/images/crownImage.png);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 55px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gods-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.god{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.img-circle {
    border-radius: 50%;
    object-fit: cover;
    width: 230px;
    height: 230px;
  }

.profile-style {
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 12px 20px;        
}
 
.form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
}

.form-item{
    text-align: center;
    padding: 12px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
