body{
    background-color: bisque;
}

.header{
    background-image: url(/public/images/crownImage.png);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 55px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gods-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    padding: 190px;
    margin: 0 auto;
    text-align: center;
}

.gods{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.img-circle {
    border-radius: 50%;
    object-fit: cover;
    width: 230px;
    height: 230px;

  }